/* IMPORTS */

@import './fonts.css';
@import './header.css';
@import './footer.css';
@import './home.css';
@import './posts.css';
@import './post.css';
@import './login.css';
@import './404.css';
@import './tips.css';
@import './categories.css';
@import './splide.min.css';

/* CONSTANTS */

:root{
    --primary: #23FF00;
    --white: #E8E8E8;
    --black: #000000;
    --grey: #3C3C3C;
}


/* MAIN */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--black);
}
h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}

.pageContainer{
    padding: 119px 25px 200px 25px;
    min-height: calc(100vh - 319px);
}
.pageTitleContainer{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination{
    display: flex;
    flex-direction: row;
    border: 2px solid var(--primary);
    border-radius: 25px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    width: fit-content;
    width: fit-content;
    text-decoration: none;
    color: var(--white);
    list-style-type: none;
    overflow: hidden;
}
.pagination .page-item {
    background-color: transparent;
}
.pagination .page-item:hover, .pagination .disabled {
    background-color: var(--primary);
}
.pagination .page-nav.disabled {
    background-color: transparent;
}
.pagination .disabled .page-link{
    color: var(--grey);
    pointer-events: none;
}
.pagination .page-link{
    padding: 0 15px;
    color: var(--white);
    text-decoration: none;
}

.pageTitle{
    font-family: 'Monument';
    font-weight: normal;
    text-transform: uppercase;
    color: var(--white);
    font-size: 18px;
    text-align: center;
}
.pageTitleLine{
    background-color: var(--primary);
    height: 2px;
    width: 140px;
    margin: 17px 0;
}

.noElements{
    font-family: 'Monument';
    font-weight: normal;
    text-transform: uppercase;
    color: var(--white);
    font-size: 18px;
    margin-bottom: 17px;
}
@media (max-width: 1200px) {
    .pageContainer{
        padding: 200px 25px 200px 25px;
        min-height: calc(100vh - 319px);
        justify-content: flex-start;
    }
}