.postImage{
    width: 100%;
    max-width: 960px;
    border: none;
}
@media (max-width: 1200px) {
    .postVidéo{
        height: 550px;
    }
}
@media (max-width: 892px) {
    .postVidéo{
        height: 500px;
    }
}
@media (max-width: 768px) {
    .postVidéo{
        height: 400px;
    }
}
@media (max-width: 500px) {
    .postVidéo{
        height: 250px;
    }
}
.postCategories{
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}
.postCategory {
    background-color: var(--grey);
    padding: 2px 9px;
    color: var(--black);
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Helvetica';
    text-decoration: none;
    font-size: 12px;
}
.postCategory:hover {
    background-color: var(--primary);
    text-decoration: underline;
}
.postDesc {
    font-family: 'Helvetica';
    font-weight: normal;
    color: var(--white);
    font-size: 18px;
    margin-bottom: 17px;
    text-align: center;
}
.postEdit{
    font-family: 'Helvetica';
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    font-size: 18px;
    line-height: 30px;
    padding: 0 15px;
    border: 2px solid var(--primary);
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    margin-top: 17px;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
.postNoCategory, .postNoContent{
    font-family: 'Helvetica';
    font-weight: 600;
    color: var(--grey);
    font-size: 14px;
    margin-bottom: 17px;
    text-align: center;
}